---
title: "Concurso de Apps Rocket.Chat"
description: |
    Concurso de Apps Rocket.Chat

permalink: /contestapps

redirect_from:
  - /contestapps/
---

<!DOCTYPE html>
<html>

<head>
    <title>Rocket.Chat - Concurso de Apps - TDC POA</title>
    <link href="/contestapps/img/favicon.png" rel="shortcut icon" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
    <link href="/contestapps/css/contestapps.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    {% include gtm/head.html %}
</head>

<body style="margin: 0; background: rgba(19, 29, 45, 1.0);">
    <div id="particles-js"></div>
    <section class="container hero">
        <header class="hero__header">
            <h2 class="rc-title">Concurso</h2>
            <h2 class="rc">Rocket.Chat Apps</h2>
            <h2 class="rc-subtitle">TDC Porto Alegre</h2>

            <p class="description">Desenvolva seu app para a maior plataforma de chat open source do mundo e concorra a
                prêmios exclusivos.
            </p>
            <p> De 1 à 8 de Dezembro de 2018 </p>
        </header>

        <ul aria-label="Recompensas" class="prizes">
            <li class="big-prize prize prize-1">
                <img src="/contestapps/img/miband.png">
                <h2>1 Mi Band 3</h2>
                <p>+ 1 Caneca exclusiva + $30 em créditos</p>
                <p class="ps">*1 por participante (limitado a 3)</p>
            </li>
            <li class="box prize prize-2">1 Caneca exclusiva </p>
                <p>+ $30 em créditos <p class="ps">*1 por participante (limitado a 3)</p>
            </li>
            <li class="box prize prize-3">$30 em créditos <p class="ps">*1 por participante (limitado a 3)</p>
            </li>
        </ul>
    </section>

    <div class="container">
        <h2>Regras gerais</h2>
        <ol class="no-padding">
            <li>Grupos de no máximo 3 participantes;</li>
            <li>O concurso começa dia 1º de Dezembro de 2018;</li>
            <li>O concurso termina dia 7 de Dezembro de 2018 as 11h59;</li>
            <li>O resultado será divulgado dia 8 de Dezembro de 2018 as 16h;</li>
            <li>O resultado será divulgado no estande do Rocket.Chat no TDC Porto Alegre;</li>
            <li>Requisitos
                <ol>
                    <li>A ideia do aplicativo deve ser submetida no formulário de inscrição abaixo;</li>
                    <li>O app deve funcionar sem bugs na versão 0.72.1 do Rocket.Chat;</li>
                    <li>O app deve ter todas os textos traduzidos para Inglês (EN);</li>
                    <li>O app deve compilar sem erros;</li>
                    <li>O app deve ser submetido ao marketplace do Rocket.Chat;</li>
                    <li>O app deve ter uma descrição detalhada o suficiente para que se entenda o propósito do mesmo;</li>
                    <li>O app deve ter um icone/logo relacionado ao objetivo do mesmo;</li>
                    <li>O app deve estar hospedado no GitHub;</li>
                    <li>O app deve ser licenciado como MIT.</li>

                </ol>
            <li>Itens a serem avaliados
                <ol>
                    <li>Qualidade do código;</li>
                    <li>Utilidade da aplicação;</li>
                    <li>Quão completa está a aplicação;</li>
                    <li>Qualidade da descrição e logo;</li>
                    <li>Qualidade do README do repositório (imagens, descrição, como rodar, etc) (em Inglês);</li>
                    <li>Documentação;</li>

                </ol>
            </li>
            <li>Processo de avaliação (3 votos);
                <ol>
                    <li>Um voto do time da Rocket.Chat;</li>
                    <li>Um voto da comunidade;</li>
                    <li>Um voto de um membro da organização do TDC.</li>
                </ol>
            </li>
        </ol>
        </li>
    </div>
    <section class="container container--small">
        <h3>Pronto para participar?</h3>
        <div class="rc-group-button">

            <button class="rc-button rc-button--secondary">
                <a  href="https://forums.rocket.chat/t/about-the-rocket-chat-apps-tdc-2018-category/2596" target="__blank">
                    Documentação
                </a>
            </button>

            <button class="rc-button">
                <a href="https://goo.gl/forms/YSlqXpV8c7e7FkmJ2" target="__blank">
                    Inscreva-se aqui
                </a>
            </button>
        </div>
    </section>

<script>

/* ---- particles.js config ---- */

particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 90,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#fff"
      },
      "polygon": {
        "nb_sides": 7
      }
    },
    "opacity": {
      "value": .5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 3,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 20,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 250,
      "color": "fff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 1,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }

    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"

      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 300,
        "size": 70,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 500,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>
{% include gtm/body.html %}
</body>

</html>
