---
layout: en/default
class: solutions-page
title: "DevOps"

solution: "DevOps"

description: |
  devops

permalink: /devops

theme: dark

redirect_from:
  - /devops/
---

{% assign solution = site.data.solutions-data["devops"] %}
{% include solutions-top.html solution=solution %}

<section class="testimonials">
  <div class="container">
      <div class="testimonials__title">
          <h2 class="display theme_type--dark">You’re in good company</h2>
      </div>

      <div class="testimonials__cards">
          {% for testimonial in solution.testimonials %}
              <div class="card theme_box--dark">
                  <p class="theme-type--dark testimonial"><i>{{testimonial.text}}</i></p>
                  <div class="writer">
                      <img class="writer__image" src="/images/solutions/devops/{{testimonial.image}}">
                      <div class="writer__info">
                          <p class="name theme_type--dark">{{testimonial.name}}</p>
                          <p class="role">{{testimonial.role}}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>

      <div class="card theme_box--light-strong clients">
        <p class="label theme_type--grey align--center">We are trusted over thousand companies across 150 countries</p>
        {% include client-slideshow.html %}
      </div>

      <div class="card theme_box--brand card--shadow solutions-box">
        <div class="solutions-box__content">
          <h3 class="display theme_type--dark">Increase your developer process with Rocket.Chat</h3>
          <p class="theme_type--dark">Besides chat and many integrations, you can still count with: <b>audit trail, unlimited history, scalability and more special features.</b></p>
          <a href="#" class="button--ghost" data-featherlight="#solution-form">Contact Us</a>
        </div>
        <img class="solutions-box__image" src="/images/solutions/devices.png" alt="screens" />
        <img class="solutions-box__image mobile" src="/images/solutions/devices-mobile.png" alt="screens" />
      </div>
    </div>
</section>


<div id="solution-form__after-box">
  <h3>You’ll be in great company! </h3>
  <p>We are trusted over thousand companies across 150 countries <br><br> We’ll contact you soon!</p>
</div>

<script src="/solutionsForm.js"></script>