---
layout: en/default
class: partners
title: Partners
permalink: /partners
redirect_from: /partners/
theme: dark
---

{% assign isv = "" | split: "" %}
{% assign resellers = "" | split: "" %}
{% assign InstitutionalPartners = "" | split: "" %}

{% for partner in site.data.partners %}
  {% if partner.type == 'isv' %}
    {% assign isv = isv | push: partner %}
  {% elsif partner.type == 'resellers' %}
    {% assign resellers = resellers | push: partner %}
  {% elsif partner.type == 'institutional' %}
    {% assign InstitutionalPartners = InstitutionalPartners | push: partner %}
  {% endif %}
{% endfor %}

<section class="hero">
  <h1 class="display--big theme_type--dark">Official Global Partners</h1>
  <p class="display--small theme_type--grey">Our ecosystem of hosting, technology and value added partners helps us ensure that Rocket.Chat is the best match for your organization</p>
  <br />
  <br />

  <a href="#partners" class="button--ghost">View Partners</a>
  <a href="/become-partner" class="button">Become a Partner</a>

  <div class="partners-hero__image"></div>
</section>

<div class="space--2"></div>

<section class="testimonials container">
  <div class="flex-grid grid--justify-around align--center">
    <div class="col--haft">
      <h2 class="display theme_type--dark">You'll be in good company</h2>
      <p class="display--small theme_type--grey">See what who is already our partners are saying about their experiences with Rocket.Chat
      </p>
    </div>
  </div>

  <div class="gallery items-2 autoplay">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>

    <figure class="item">
      <div class="testimonials__cards">
        {% for testimonial in site.data.testimonials %}
          {% if testimonial.page == 'partners' %}
            {% if testimonial.order == 1 or testimonial.order == 2 %}
              <div class="card theme_box--dark">
                  <p class="theme-type--dark testimonial"><i>{{testimonial.text}}</i></p>
                  <div class="writer">
                      <img class="writer__image" src="/images/partners/{{testimonial.image}}">
                      <div class="writer__info">
                          <p class="name theme_type--dark">{{testimonial.name}}</p>
                          <p class="role">{{testimonial.role}}</p>
                      </div>
                  </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </figure>

    <figure class="item">
      <div class="testimonials__cards">
        {% for testimonial in site.data.testimonials %}
          {% if testimonial.page == 'partners' %}
            {% if testimonial.order == 3 or testimonial.order == 4 %}
              <div class="card theme_box--dark">
                  <p class="theme-type--dark testimonial"><i>{{testimonial.text}}</i></p>
                  <div class="writer">
                      <img class="writer__image" src="/images/partners/{{testimonial.image}}">
                      <div class="writer__info">
                          <p class="name theme_type--dark">{{testimonial.name}}</p>
                          <p class="role">{{testimonial.role}}</p>
                      </div>
                  </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
    </div>
  </div>

</section>

<div class="space--2"></div>

<section class="container" id="partners">
  <div class="flex-grid grid--justify-around align--center">
    <div class="col--haft">
      <p class="label">Our partners</p>
      <h2 class="display theme_type--dark">Resellers</h2>
      <p class="display--small theme_type--grey">From installation and configuration to the development of features, bots and integrations, Technology Partners act as Rocket.Chat reseller experts to ensure Rocket.Chat fits your company needs.
      </p>
    </div>
  </div>

  <div class="flex-grid grid--wrap">
    {% for partner in resellers %}
      <a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer" class="col--third">
        <div class="card institutional theme_box--dark-strong">
          <div class="card__media">
            <img src="{{ partner.logo }}" alt="{{ partner.name }}" />
          </div>
        </div>
      </a>
  {% endfor %}
  </div>


  <div class="space--6"></div>


  <div class="flex-grid grid--justify-around align--center">
    <div class="col--haft">
      <p class="label">Our partners</p>
      <h2 class="display theme_type--dark">Independent Software Vendor (ISV)</h2>
      <p class="display--small theme_type--grey">Licensed partners that have their own operating system platform and uses Rocket.Chat Self-Hosted Enterprise license to improve their offer to end customers.</p>
    </div>
  </div>

  <div class="space--2"></div>

  <div class="flex-grid grid--wrap">
    {% for partner in isv %}
      <a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer" class="col--third">
        <div class="card institutional theme_box--dark-strong">
          <div class="card__media">
            <img src="{{ partner.logo }}" alt="{{ partner.name }}" />
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

   <div class="space--6"></div>

   <div class="flex-grid grid--justify-around align--center">
    <div class="col--haft">
      <p class="label">Our partners</p>
      <h2 class="display theme_type--dark">Institutional Partners</h2>
      <p class="display--small theme_type--grey">Companies that support our open source ecosystem to continue evolving.</p>
    </div>
  </div>

  <div class="space--2"></div>

  <div class="flex-grid grid--wrap">
    {% for partner in InstitutionalPartners %}
      <a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer" class="col--third">
        <div class="card institutional theme_box--dark-strong">
          <div class="card__media">
            <img src="{{ partner.logo }}" alt="{{ partner.name }}" />
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="space--6"></div>
</section>

<section class="container">
  <div class="card theme_box--dark-strong partner-box">
    <div class="wrap">
      <p class="label theme_type--grey">Become a partner</p>
      <h2 class="display theme_type--dark">Join the Rocket.Chat ecosystem and become a partner</h2>
      <p class="theme_type--grey">Become a Partner or download our Partnership brochure to find out how you could become an approved Rocket.Chat partner</p>
      <a class="button" href="/become-partner"  style="margin-right: .5em">Become a Partner</a>
      <a href="/Rocket-Chat-Partnership-Program.pdf" download="/Rocket-Chat-Partnership-Program.pdf" target="_blank" class="button">Download Brochure</a>
    </div>
  </div>
</section>
