---
layout: en/default
class: pricing
title: "Pricing"
description: |
  Pricing on Rocket.Chat's various plans.

permalink: /pricing
theme: light
redirect_from:
  - /hosting/
  - /cloud/
  - /cloud
  - /support/
  - /support
  - /pricing/
---


<section class="hero">
  <div class="space--2"></div>
  <div class="flex-grid grid--justify-around align--center">
    <div class="col--haft">
      <p class="label theme_type--dark">Pricings &amp; plans</p>
      <h2 class="display theme_type--dark">Select the right plan for your organization</h2>
      <div class="switch-container">
        <a class="switch self-managed active" href="#self">Self-Managed</a>
        <a class="switch cloud" href="#cloud">Cloud</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-hero__image"></div>
</section>

<div class="cloud__container">

  <section class="container" id="pricing">

    <div class="pricing_four-column">
      <div class="plan_wrapper card--shadow">
        <div class="plan_content">
          <h2 class="display">Bronze</h2>
          <br />
          <p class="theme_type--light">For teams that are ready to control and centralize their communication on Rocket.Chat.</p>
          <p class="display">$2
            <small class="label--small"><span class="label--small theme_type--light">/ User Monthly</span></small>
          </p>
          <p class="display">$20
            <small class="label--small"><span class="label--small theme_type--light">/ User Annually</span></small>
          </p>
        </div>
        <footer>
          <a class="button trial" data-label="Cloud Bronze" target="_blank" rel="noopener noreferrer" href="//cloud.rocket.chat/trial/bronze">Start trial</a>
        </footer>
      </div>


      <div class="plan_wrapper card--shadow">
        <div class="plan_content">
          <h2 class="display">Silver</h2>
          <br />
          <p class="theme_type--light">For businesses ready to step up their team communication and access more features.</p>
          <p class="display">$4
            <small class="label--small"><span class="label--small theme_type--light">/ User Monthly</span></small>
          </p>
          <p class="display">$40
            <small class="label--small"><span class="label--small theme_type--light">/ User Annually</span></small>
          </p>
          <br />
        </div>
        <footer>
          <a class="button trial" data-label="Cloud Silver" target="_blank" rel="noopener noreferrer" href="//cloud.rocket.chat/trial/silver">Start trial</a>
        </footer>
      </div>

      <div class="plan_wrapper card--shadow">
        <div class="plan_content">
          <h2 class="display">Gold</h2>
          <br />
          <p class="theme_type--light">For businesses needing high-level scalability, management and unlimited features.</p>
          <p class="display--medium">Tiered Pricing <br>
            <small class="label--small"><span class="label--small theme_type--light">and</span></small>
            <br> Volume Discount
          </p>
          <br />
        </div>
        <footer>
          <a href="#" class="button trial contact" data-featherlight="#pricing-form" data-label="Cloud Gold" rel="noopener noreferrer">Contact Us</a>
        </footer>
      </div>

    </div>
  </section>
  <section class="container">
    {% capture header %}
      <thead>
        <tr>
          <th>Community</th>
          <th>Pro</th>
          <th>Enterprise</th>
        </tr>
      </thead>
    {% endcapture %}
    {% include pricing-table.html name="pricing" header=header %}
  </section>

  <div class="space--8"></div>

  <section class="container">
    <div class="card theme_box--dark-strong partner-box pricing-concession">
      <div class="wrap">
        <p class="label theme_type--grey">Get Discounts</p>
        <h2 class="display theme_type--dark">We offer special rates to people who do good things around the world</h2>
        <p class="theme_type--grey">For more information and to check whether your organization is eligible for a concessionary rate:</p>
        <a class="button" href="/concession">Visit our concessions page</a>
      </div>
    </div>
  </section>


  <section class="container">

    <div class="space--8"></div>

    <div class="flex-grid">
      <div class="col">
        <div class="card card--full-height theme_box--light theme_type--light">
          <div class="flex-grid">
            <div class="col--fourth no-gutter"><img class="card_icon" src="/images/cloud/easy.png" alt="Easy" /></div>
            <div class="col no-gutter">
              <h3 class="display--small"><strong>Easy</strong></h3>
              <p class="theme_type--light type--nomargin">
                Rocket.Chat Cloud is the easiest way to install, set up and manage Rocket.Chat. It requires no technical knowledge and you can start a trial in a couple of minutes, no credit card required.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card--full-height theme_box--light theme_type--light">
          <div class="flex-grid">
            <div class="col--fourth no-gutter"><img class="card_icon" src="/images/cloud/scalable.png" alt="Scalable" /></div>
            <div class="col no-gutter">
              <h3 class="display--small"><strong>Scalable</strong></h3>
              <p class="theme_type--light type--nomargin">
                Rocket.Chat's robust and scalable Cloud, built on Docker and Kubernetes,
                gives you the benefits of an open source communication platform
                without having to manage and scale your own infrastructure and support team.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-grid">
      <div class="col">
        <div class="card card--full-height theme_box--light theme_type--light">
          <div class="flex-grid">
            <div class="col--fourth no-gutter"><img class="card_icon" src="/images/cloud/affordable.png" alt="Affordable" /></div>
            <div class="col no-gutter">
              <h3 class="display--small"><strong>Affordable</strong></h3>
              <p class="theme_type--light type--nomargin">
                We believe in charging a fair rate for the resources you need rather than for every team member or guest,
                giving you an affordable and scalable team chat solution for tens of thousands of users. Plus, every plan has a 14-day free trial.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card--full-height theme_box--light theme_type--light">
          <div class="flex-grid">
            <div class="col--fourth no-gutter"><img class="card_icon" src="/images/cloud/secure.png" alt="Secure" /></div>
            <div class="col no-gutter">
              <h3 class="display--small"><strong>Secure</strong></h3>
              <p class="theme_type--light type--nomargin">
                Every cloud instance runs in its own secure isolated environment which we monitor 24/7. Your data is backed up daily, twice daily or hourly to give you peace of mind in case of an emergency.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="space--8"></div>

  <section class="container">
      <div class="flex-grid grid--justify-around align--center">
        <div class="col--haft">
          <p class="label theme_type--light">Still have questions?</p>
          <h2 class="display">Frequently Asked Questions</h2>
        </div>
      </div>

  <div class="space--2"></div>

    <div class="flex-grid">
      <div class="col no-gutter mini-gutter">
        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>Will the price of my existing plan remain the same despite the price update?</strong></h3>
            <p class="type--nomargin">
            Yes, we are committed to ensuring existing customers remain on the same plan they signed up for. Existing plans will be honoured and grandfathered.
        </p>
      </div>
    </div>
  </div>

  <div class="space--1"></div>

      <div class="col no-gutter mini-gutter">
        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>How long do trials last?</strong></h3>
              <p class="type--nomargin">
                Every plan has a 14-day free trial. <br> We will notify users in advance of when the trial is coming to an end.
              </p>
            </div>
          </div>
          </div>

  <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong> How do I pay for Cloud?</strong></h3>
              <p class="type--nomargin">
                Cloud admins can add payment details and manage their account in the <a class="button--link" href="https://cloud.rocket.chat/">Rocket.Chat Cloud Console.</a> <br/> To continue with Cloud once the trial ends, users must add their payment details in
                the Console. <br/> Accepted payment methods: Visa/Mastercard/American Express/Discover/Diner's Club credit & debit cards.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>What is the billing period?</strong></h3>
              <p class="type--nomargin">
                Billing periods vary depending on the chosen plan. Annual plans are paid for 1 year up front, while monthly plans are billed on a monthly basis. Users on a trial will be billed once their trial is over if they have added their payment details.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>When will my billing period begin?</strong></h3>
              <p class="type--nomargin">
                If your account has correct billing information and has not been closed,
                your first billing period will begin the day after your trial ends.
              </p>
            </div>
          </div>
        </div>


        <div class="space--1"></div>
      </div>

      <div class="col no-gutter mini-gutter">
          <div class="card theme_box--light">
              <div class="flex-grid--nobreak">
                <img class="card_icon--mini" src="/images/default/question.svg" />
                <div class="col no-gutter">
                  <h3 class="theme_type--space"><strong>When can I cancel my plan?</strong></h3>
                  <p class="type--nomargin">
                    You can cancel your plan at any time and continue to access
                    your workspace for the remainder of your billing period, by emailing <a class="button--link" href="mailto:cloud.support@rocket.chat">cloud.support@rocket.chat</a><br/> If you choose not to stay with us you can request an export of your data.
                  </p>
                </div>
              </div>
            </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>How do I report issues and get support?</strong></h3>
              <p class="type--nomargin">
                Email <a class="button--link" href="mailto:cloud.support@rocket.chat">cloud.support@rocket.chat</a>
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>What reporting do you provide?</strong></h3>
              <p class="type--nomargin">
                You can view a workspace's total registered users, active users,
                channels and file storage used.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>Are there discounts for certain organizations?</strong></h3>
              <p class="type--nomargin">
                Yes, eligible non-profits, FOSS and developer communities or educational organizations may receive concessionary rates for Rocket.Chat Cloud. For more information and to check whether your organization is eligible
                for a concessionary rate, visit our <strong><a class="button--link" href="/concession">Concessions</a></strong> page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="self-managed__container">
  <section class="container">
    <div class="pricing_four-column">
      <div class="plan_wrapper card--shadow">
        <div class="plan_content">
          <h2 class="display">Community</h2>
          <br />
          <p class="theme_type--light">For teams that are ready to control and centralize their communication on Rocket.Chat.</p>
          <p class="display">Free</p>
          <br />
        </div>
        <footer>
          <a class="button trial" data-label="Self-Managed Community" target="_blank" rel="noopener noreferrer" href="https://rocket.chat/install">Install</a>
        </footer>
      </div>

        <div class="plan_wrapper card--shadow">
          <div class="plan_content">
              <h2 class="display">Pro</h2>
              <br />
              <p class="theme_type--light">For businesses ready to step up their team communication and access more features.</p>
              <p class="display">$3
                <small class="label--small"><span class="label--small theme_type--light">/ User Monthly</span></small>
              </p>
              <p class="display">$30
                <small class="label--small"><span class="label--small theme_type--light">/ User Annually</span></small>
              </p>
              <br />
          </div>
          <footer>
            <a href="#" class="button trial contact" data-featherlight="#pricing-form" data-label="Self-Managed Pro" rel="noopener noreferrer">Contact Us</a>
        </div>


          <div class="plan_wrapper card--shadow">
            <div class="plan_content">
              <h2 class="display">Enterprise</h2>
              <br />
              <p class="theme_type--light">For businesses needing high-level scalability, management and unlimited features.</p>
              <p class="display--medium">Tiered Pricing <br>
                <small class="label--small"><span class="label--small theme_type--light">and</span></small>
                <br> Volume Discount
              </p>
              <br />
            </div>
            <footer>
              <a href="#" class="button trial contact" data-featherlight="#pricing-form" data-label="Self-Managed Enterprise" rel="noopener noreferrer">Contact Us</a>
            </footer>
          </div>
      </div>
  </section>
  <section class="container">
      {% capture header %}
        <thead>
          <tr>
            <th>Community</th>
            <th>Pro</th>
            <th>Enterprise</th>
          </tr>
        </thead>
      {% endcapture %}
      {% include pricing-table.html name="selfHosted" header=header%}
  </section>

  <div class="space--8"></div>

  <section class="container">
    <div class="card theme_box--dark-strong partner-box pricing-concession">
      <div class="wrap">
        <p class="label theme_type--grey">Get Discounts</p>
        <h2 class="display theme_type--dark">We offer special rates to people who do good things around the world</h2>
        <p class="theme_type--grey">For more information and to check whether your organization is eligible for a concessionary rate:</p>
        <a class="button" href="/concession">Visit our concessions page</a>
      </div>
    </div>
  </section>

  <div class="space--8"></div>

  <section class="container">
    <div class="flex-grid grid--justify-around align--center">
      <div class="col--haft">
        <p class="label theme_type--light">Still have questions?</p>
        <h2 class="display">Frequently Asked Questions</h2>
      </div>
    </div>

    <div class="space--2"></div>

    <div class="flex-grid">
      <div class="col no-gutter mini-gutter">
        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>Will the price of my existing plan remain the same despite the price update?</strong></h3>
              <p class="type--nomargin">
              Yes, we are committed to ensuring existing customers remain on the same plan they signed up for. Existing plans will be honoured and grandfathered.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>How long do trials last?</strong></h3>
              <p class="type--nomargin">
                Every plan has a 30-day free trial. <br> We will notify users in advance of when the trial is coming to an end.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong> How do I pay for Rocket.Chat Self-Managed?</strong></h3>
              <p class="type--nomargin">
                Admins can add payment details in their admin panel. To continue with a Self-Managed plan once the trial ends, admins must add their payment details in the admin panel.<br/>
                Accepted payment methods: Visa/Mastercard/American Express/Discover/Diner's Club credit & debit cards.<br/>
                All plans are billed on a monthly basis. Users on a trial will be billed once their trial is over if they have added their payment details.<br/>
                If your account has correct billing information and has not been closed, your first billing period will begin the day after your trial ends.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>When can I cancel my plan?</strong></h3>
              <p class="type--nomargin">
                You can cancel your plan at any time and continue to access your workspace for the remainder of your billing month, by emailing <a class="button--link" href="mailto:support@rocket.chat">support@rocket.chat</a><br/> If you choose not to stay with us you can request an export of your data.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>How do I report issues and get support?</strong></h3>
              <p class="type--nomargin">
                Email <a class="button--link" href="mailto:support@rocket.chat">support@rocket.chat</a>
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>What is SLA and what are the different levels of issue response times?</strong></h3>
              <p class="type--nomargin">
                <strong>Critical Business Impact</strong>
                A critical issue occurring on Rocket.Chat that prevents business operations from occurring or a
                large number of users are prevented from working with no procedural workaround.
                Example: data loss or corruption; system crashes; critical functionality not available; large number of users can't work.
                <br>
                <strong>Normal Business Impact</strong>
                An issue causing a partial or non-critical loss of functionality on a production system. A small
                number of users are affected.
                Example: some systems functions are not available; small number of users impacted; minor performance problems;
                <br>
                <strong>Minimal Business Impact</strong>
                Issue occurring on non-production system or question, comment, feature request, documentation issue or
                other non-impacting issue.
                Example: product questions.
              </p>
            </div>
          </div>
        </div>

        <div class="space--1"></div>

        <div class="card theme_box--light">
          <div class="flex-grid--nobreak">
            <img class="card_icon--mini" src="/images/default/question.svg" />
            <div class="col no-gutter">
              <h3 class="theme_type--space"><strong>What reporting do you provide?</strong></h3>
              <p class="type--nomargin">
                You can view a workspace's total registered users, active users,
                channels and file storage used.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="space--8"></div>

{% include adwords/trial.html %}
{% include pricing-form.html %}
<script src="/solutionsForm.js"></script>
