<div class="features__integrations collab">
    <img class="integrations__image" alt="integrations" src="/images/solutions/collab-card.svg">
    <div class="integrations__content">
        <h3 class="title">Stay in control with different access levels for each user role</h3>
        <p class="desc">Keep your employees connected through <b>#public</b> and <b>#private</b> channels and engage your business partners within your own communication platform. Chat with your customers through Social Media, Livechat and Chatbots. Connect large teams and communities on a platform with high scalability.</p>
        <img class="integrations__image mobile" alt="integrations" src="/images/solutions/easy-integrations-mobile2.png">
        <img class="integrations__image mobile" alt="integrations" src="/images/solutions/easy-integrations-mobile.png">
    </div>
</div>