<div class="features__integrations">
    <img class="integrations__image" alt="integrations" src="/images/solutions/easy-integrations.png">
    <div class="integrations__content">
        <h3 class="title">Easy Integrations</h3>
        <p class="desc">Improve developer process. Rocket.Chat moves between your team and apps automatically so you can focus on your most important work.</p>
        <img class="integrations__image mobile" alt="integrations" src="/images/solutions/easy-integrations-mobile2.png">
        <img class="integrations__image mobile" alt="integrations" src="/images/solutions/easy-integrations-mobile.png">
        <p class="label theme_type--light">Many integrations available and counting...</p>
        <div class="icons">
            <a href="https://rocket.chat/docs/administrator-guides/integrations/github/" rel="noopener noreferrer">
                <img alt="github integration" src="/images/solutions/github.svg">
            </a>
            <a href="https://rocket.chat/atlassian" rel="noopener noreferrer">
                <img alt="atlassian integration" src="/images/solutions/atlassian.svg">
            </a>
            <a href="https://rocket.chat/docs/administrator-guides/integrations/zapier/using-zaps/" rel="noopener noreferrer">
                <img alt="zapier integration" src="/images/solutions/zapier.svg">
            </a>

            <a href="https://rocket.chat/docs/administrator-guides/integrations/gitlab/" rel="noopener noreferrer">
                <img alt="gitlab integration" src="/images/solutions/gitlab.svg">
            </a>

            <a href="https://rocket.chat/docs/installation/paas-deployments/aws/" rel="noopener noreferrer">
                <img alt="aws integration" src="/images/solutions/aws.svg">
            </a>
        </div>

        <p class="text">Moving from Atlassian? <a class="button--link" href="https://rocket.chat/atlassian" rel="noopener noreferrer">Learn more</a></p>

        <div class="atlassian-logos">
            <img src="/images/atlassian/jira.svg">
            <img src="/images/atlassian/confluence.svg">
            <img src="/images/atlassian/bitbucket.svg">
            <img src="/images/atlassian/trello.svg">
        </div>
    </div>
</div>