<div class="features__integrations livechat">
    <img class="integrations__image" alt="integrations" src="/images/solutions/livechat-integration.png">
    <div class="integrations__content">
        <h3 class="title">Costumer Solutions</h3>
        <p class="desc">Fill your marketing funnel, increase sales conversions and reduce operational costs all while maximizing customer satisfaction.</p>
        <img class="integrations__image mobile" alt="integrations" src="/images/solutions/livechat-integration.png">
        <p class="label theme_type--light">Many integrations available and counting...</p>
        <div class="icons">
            <a href="" rel="noopener noreferrer">
                <img alt="gmail integration" src="/images/solutions/gmail.svg">
            </a>
            <a href="" rel="noopener noreferrer">
                <img alt="mailchimp integration" src="/images/solutions/mailchimp.svg">
            </a>
            <a href="" rel="noopener noreferrer">
                <img alt="instagram integration" src="/images/solutions/instagram.svg">
            </a>

            <a href="" rel="noopener noreferrer">
                <img alt="facebook messager integration" src="/images/solutions/facebook-messager.svg">
            </a>

            <a href="" rel="noopener noreferrer">
                <img alt="telegram integration" src="/images/solutions/telegram.svg">
            </a>

            <a href="" rel="noopener noreferrer">
                <img alt="whatsapp integration" src="/images/solutions/whatsapp.svg">
            </a>
        </div>
    </div>
</div>