<div class="features__integrations security">
    <h3 class="display">Security features tailored to your environment</h3>
    <div class="integrations__content">
        <p class="desc">Configure and control Rocket.Chat to your needs with our easy-to-use, detailed administration panel. Rocket.Chat has been deployed in even the most rigorous environments, supporting compliance with GDPR, HIPAA, and more.</p>
    </div>

    <div class="points">
        <div class="point">
            <img src="/images/solutions/bug.svg" alt="Report security issues">
            <div>
                <h4>Report Security Issue</h4>
                <p>Did you find a problem, bug or security flaw in Rocket.Chat? <a href="/contact.html" class="button--link">Get in touch</a> with us.</p>
            </div>
        </div>
        <div class="point">
            <img src="/images/solutions/documentation.svg" alt="Documentation">
            <div>
                <h4>Documentation</h4>
                <p>Find out more about Rocket.Chat security features by visiting our <a href="rocket.chat/docs" class="button--link">documentation</a>.</p>
            </div>
        </div>
    </div>
</div>