{% if include.name == "pricing" %}
    {% assign pricingTable = site.data.pricing %}
{% elsif include.name == "selfHosted" %}
    {% assign pricingTable = site.data.selfHosted %}
{% endif %}


<div class="pricing-table_wrapper">
    <table class="pricing-table">
        <tr style="display: none">
            {% if include.name == "pricing" %}
                <th scope="col" class="pricing-table_header_hidden"></th>
                <th scope="col" class="pricing-table_header_hidden">Bronze</th>
                <th scope="col" class="pricing-table_header_hidden">Silver</th>
                <th scope="col" class="pricing-table_header_hidden">Gold</th>
            {% elsif include.name == "selfHosted" %}
                <th scope="col" class="pricing-table_header_hidden"></th>
                <th scope="col" class="pricing-table_header_hidden">Community</th>
                <th scope="col" class="pricing-table_header_hidden">Pro</th>
                <th scope="col" class="pricing-table_header_hidden">Enterprise</th>
            {% endif %}
        </tr>
        <tbody>
            {% for member in pricingTable %}
                {% if member.isHeader == true %}
                    <tr>
                        <th class="pricing-table_header" colspan="4">{{member.title}}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row" class="pricing-table_label">{{member.title}}</th>
                        <td class="bronze">{% if member.first == true %}<img src="/images/default/check.svg" /> {% else %}{{member.first}}{% endif %}</td>
                        <td class="silver">{% if member.second == true %}<img src="/images/default/check.svg" /> {% else %}{{member.second}}{% endif %}</td>
                        <td class="gold">{% if member.third == true %}<img src="/images/default/check.svg" /> {% else %}{{member.third}}{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pricing_four-column">

    <div class="plan_wrapper footer">
        {% if include.name == "pricing" %}
            <a class="button trial" target="_blank" rel="noopener noreferrer" href="//cloud.rocket.chat/trial">Start trial</a>
        {% elsif include.name == "selfHosted" %}
            <a class="button trial" target="_blank" rel="noopener noreferrer" href="https://rocket.chat/install">Install</a>
        {% endif %}

    </div>
    <div class="plan_wrapper footer">
        <a class="button trial" target="_blank" rel="noopener noreferrer" href="//cloud.rocket.chat/trial">Start trial</a>
    </div>
    <div class="plan_wrapper footer">
        <a class="button trial" target="_blank" rel="noopener noreferrer" href="https://rocket.chat/contact">Contact Us</a>
    </div>
</div>


