<section class="container hero">
    <div class="hero__text">
        <h1 class="display--big theme_type--dark">{{include.solution.hero-title}}</h1>
        <p class="display--small theme_type--grey">{{include.solution.hero-desc}}</p>
        <a class="button" data-featherlight="#solution-form" href="#">Contact Us</a>
    </div>
    <img class="hero__image" alt="hero-image" src="/images/solutions/{{include.solution.hero-image}}">
</section>

<section class="features">
    <div class="container">
        <div class="features__title">
            <p class="label theme_type--light">{{include.solution.features-uptitle}}</p>
            <h2 class="display">{{include.solution.features-title}}</h2>
            <p class="theme_type--light display--small">{{include.solution.features-subtitle}}</p>
        </div>
        <div class="features__icons">
            {% for feature in include.solution.tools %}
                <div class="feature">
                    <img class="feature__image" alt="{{feature.title}}" src="/images/solutions/{{feature.image}}">
                    <div class="feature__container">
                        <h3 class="feature__title">{{feature.title}}</h3>
                        <p class="feature__text">{{feature.text}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include {{ include.solution.card-location }} %}
    </div>
</section>



<div id="solution-form">
    <h3 class="display--small theme_type--dark"><bold>Contact Us</bold></h3>
    <div class="space--2"></div>
    <form id="{{ page.solution }}-form" class="form-validate" data-validate data-source="{{page.solution}}">
        <fieldset>
            <label class="label--small theme_type--grey" for="firstName">Full Name</label>
            <input required minlength="3" maxlength="100" class="input input--dark input--icon-user" type="text" id="fullName" name="fullName" placeholder="Type your full name" />
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--grey" for="email">Email Address</label>
            <input required minlength="3" maxlength="100" class="input input--dark input--icon-email" type="email" id="email" name="email" placeholder="Type your email address" />
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--grey" for="company">Company</label>
            <input minlength="3" maxlength="100" class="input input--dark" type="text" id="company" name="company" placeholder="Type your company" />
        </fieldset>

        <fieldset>
          <label class="label--small theme_type--grey" for="companySize">Company Size</label>
            <select required id="companySize" name="companySize" class="select select--theme-dark">
              <option selected disabled value="">Select</option>
              <option value="50">Less than 50</option>
              <option value="100">Up to 100</option>
              <option value="up to 500">Up to 500</option>
              <option value="up to 1000">Up to 1000</option>
              <option value="more than 1000">More than 1000</option>
            </select>
         </fieldset>

         <fieldset>
            <label class="label--small theme_type--grey" for="inquiry">What is your inquiry about?</label>
            <select required id="companySize" name="inquiry" class="select select--theme-dark">
                <option selected disabled value="">Select</option>
                <option value="learn more">Learn More</option>
                <option value="service manage">Service Manager</option>
                <option value="help desk">Help Desk</option>
                <option value="process automation">Process Automation</option>
                <option value="chatbots">Chatbots</option>
                <option value="monitoring">Monitoring</option>
                <option value="external communication">External Communication</option>
                <option value="internal communication">Internal Communication</option>
            </select>
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--grey" for="message">Message</label>
            <textarea required rows="7" class="input input--dark" name="message" id="message" placeholder="Type your message"></textarea>
        </fieldset>

        <fieldset style="display: none">
            <label class="label--small theme_type--grey" for="recipient">Department</label>
            <div class="select select--theme-dark">
            <select name="recipient" id="recipient">
                <option selected value="sales">Sales</option>
            </select>
            </div>
        </fieldset>

        <fieldset style="display: none">
            <label class="label--small theme_type--grey"  for="company">Solution</label>
            <input minlength="3" maxlength="100" class="input input--dark" value="{{page.solution}}" type="text" id="solution" name="solution" placeholder="" />
        </fieldset>

        <div class="space--2"></div>
        <button type="submit" class="button">Send message</button>
        </form>
</div>