<div id='crmWebToEntityForm'>
    <h3 class="display--small theme_type--dark">
        <bold>Sing up for this webinar</bold>
    </h3>
    <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
    <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads2982481000004866007 method='POST'
        onSubmit='javascript:document.charset="UTF-8"; return checkMandatory2982481000004866007()'
        accept-charset='UTF-8' id="{{ page.solution }}-form" class="form-validate" data-validate
        data-source="Webinar Singup Form">
        <input type='text' style='display:none;' name='xnQsjsdp'
            value='96b118485996dc2547c37fc8650b520a7e1d58b5d470b1390a3f560ed46df03b'></input>
        <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
        <input type='text' style='display:none;' name='xmIwtLD'
            value='8ea917c61ae7f2f107ac548ac534375cbb748d661d0d06812e9533bb4c50f624'></input>
        <input type='text' style='display:none;' name='actionType' value='TGVhZHM='></input>
        <input type='text' style='display:none;' name='returnURL' value='https://rocket.chat/thank-you'>
        </input>
        <!-- Do not remove this code. -->
        <fieldset>
            <label class="label--small theme_type--dark" for="First Name">First Name<span
                    class="required-field">*</span></label>
            <input required minlength="3" maxlength="100"
                class="input input--dark input--icon-user input--icon-user-light" type="text" id="fullName"
                name="First Name" placeholder="Type your full name" />
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--dark" for="Last Name">Last Name<span
                    class="required-field">*</span></label>
            <input required minlength="3" maxlength="100"
                class="input input--dark input--icon-user input--icon-user-light" type="text" id="fullName"
                name="Last Name" placeholder="Type your full name" />
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--dark" for="Email">Email Address<span
                    class="required-field">*</span></label>
            <input required maxlength="100" class="input input--dark input--icon-email input--icon-email-light"
                type="text" id="email" name="Email" placeholder="Type your email address" />
        </fieldset>

        <fieldset>
            <label class="label--small theme_type--dark" for="Company">Company</label>
            <input required minlength="3" maxlength="100" class="input input--dark" type="text" id="company"
                name="Company" placeholder="Type your company" />
        </fieldset>

        <fieldset style="display: none">
            <label class="label--small theme_type--dark" for="recipient">Department</label>
            <div class="select select--theme-light">
                <select name="recipient" id="recipient">
                    <option value="sales">Sales</option>
                </select>
            </div>
        </fieldset>

        <fieldset style="display: none">
            <label class="label--small theme_type--dark" for="Lead Status">Department</label>
            <div class="select select--theme-light">
                <select name="Lead Status" id="recipient">
                    <option selected value="Contacted from Website">Website</option>
                </select>
            </div>
        </fieldset>

        <fieldset style="display: none">
            <label class="label--small theme_type--grey" for="Lead Source">Solution</label>
            <input minlength="3" maxlength="100" class="input input--dark" value="Webinar {{page.title}} Form"
                type="text" id="solution" name="Lead Source" placeholder="" />
        </fieldset>
        <p class="terms">By submitting this form, you are confirming you have read and agree to our <a
                class="button--link" href="https://rocket.chat/terms">Terms</a> and <a class="button--link"
                href="https://rocket.chat/privacy">Privacy Statement</a>.</p>

        <div class="space--2"></div>
        <button type="submit" class="button">Send message</button>


        <script>
            var mndFileds = new Array('First Name', 'Last Name', 'Company', 'Email', 'Lead Status', 'Lead Source');
            var fldLangVal = new Array('First Name', 'Last Name', 'Company', 'Email', 'Lead Status', 'Lead Source');
            var name = '';
            var email = '';

            function checkMandatory2982481000004866007() {
                for (i = 0; i < mndFileds.length; i++) {
                    var fieldObj = document.forms['WebToLeads2982481000004866007'][mndFileds[i]];
                    if (fieldObj) {
                        if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                            if (fieldObj.type == 'file') {
                                alert('Please select a file to upload.');
                                fieldObj.focus();
                                return false;
                            }
                            alert(fldLangVal[i] + ' cannot be empty.');
                            fieldObj.focus();
                            return false;
                        } else if (fieldObj.nodeName == 'SELECT') {
                            if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
                                alert(fldLangVal[i] + ' cannot be none.');
                                fieldObj.focus();
                                return false;
                            }
                        } else if (fieldObj.type == 'checkbox') {
                            if (fieldObj.checked == false) {
                                alert('Please accept  ' + fldLangVal[i]);
                                fieldObj.focus();
                                return false;
                            }
                        }
                        try {
                            if (fieldObj.name == 'Last Name') {
                                name = fieldObj.value;
                            }
                        } catch (e) { }
                    }
                }
                document.getElementById('formsubmit').disabled = true;
            }
        </script>
    </form>
</div>