body.solutions-page {
    .hero {
        display: flex;
        text-align: left;
        padding-top: 90px;
        height: 607px;
        min-height: 0;

        &__image {
            width: 431px;
            height: 367px;
            flex-shrink: 0;
            margin-left: 48px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            max-width: 635px;

            .button {
                font-size: 18px;
                margin: 0;
                margin-top: 32px;
                height: 60px;
                width: 159px;
                align-items: center;
                @media screen and (max-width: $mobile) {
                    width: 106px;
                    height: 45px;
                    padding: 0;
                    font-size: 14px;
                    width: 117px;
                    font-weight: 500
                }
            }
        }

        @media screen and (max-width: $tablet) {
            flex-direction: column-reverse;
            height: unset;
            padding: 0 16px 64px;

            &__image {
                margin: auto;
                margin-bottom: 46px;
            }

            &__text {
                text-align: left;
                align-items: left;
                width: 100%;
            }
        }
    }

    .features {
        background-color: #fff;
        padding: 160px 0 172px;

        &__title {
            text-align: center;
            width: 736px;
            margin: auto;
        }

        &__icons {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            grid-gap: 32px;

            .feature {
                max-width: 256px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-self: center;

                &__image {
                    width: 84px;
                    height: 84px;
                    margin: 0 auto;
                    margin-bottom: 14px;
                }

                &__title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    color: $space-b
                }
            }
        }

        &__integrations {
            margin-top: 160px;
            display: flex;

            &.livechat {
                flex-direction: row-reverse;
                padding: 51px;

                .integrations__image {
                    margin-right: 0;
                    margin-left: 51px;
                    height: 532px;

                    @media screen and (max-width: $tablet) {
                        margin-left: 0;
                        margin-bottom: 16px;
                        height: unset;
                    }
                }

                .integrations__content {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;

                    .desc {
                        width: 80%;
                        @media screen and (max-width: $tablet) {
                            width: 100%
                        }
                    }
                }

                @media screen and (max-width: $tablet) {
                    flex-direction: column-reverse;
                }
            }

            &.collab {
                padding: 51px 0;

                .integrations__image {
                    margin-right: 100px;
                    height: 375px;

                    @media screen and (max-width: $tablet) {
                        margin: 0;
                        margin-bottom: 16px;
                        height: unset;
                    }
                }

                .integrations__content {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;

                    .desc {
                        width: 80%;
                        @media screen and (max-width: $tablet) {
                            width: 100%
                        }
                    }
                }

                @media screen and (max-width: $tablet) {
                    flex-direction: column-reverse;
                }
            }

            &.security {
                flex-direction: column;
                text-align: center;

                .points {
                    display: flex;
                    justify-content: center;

                    @media screen and (max-width: $tablet) {
                        flex-direction: column;

                        .point {
                            width: 100% !important;
                            display: flex;
                            text-align: left;

                            h4 {
                                margin-top: 12px !important;
                            }

                            img {
                                flex-shrink: 0;
                                margin-right: 18px !important;
                            }

                        }
                    }

                    .point {
                        width: 256px;

                        &:first-child {
                            margin-right: 80px;
                        }

                        h4 {
                            font-weight: bold;
                            color: #000;
                        }

                        img {
                            margin: auto;
                        }
                    }

                }

                h3 {
                    font-size: 32px;
                    font-weight: bold;
                }

                p.desc {
                    width: 736px;
                    font-size: 16px;
                    margin: auto;
                    margin-top: 16px;
                    margin-bottom: 64px;

                    @media screen and (max-width: $tablet) {
                        width: 100%
                    }
                }
            }

            .integrations {
                &__image {
                    margin-right: 40px;
                    height: 367px;
                    &.mobile {
                        display: none;
                        &:first-child {
                            margin-top: 36px;
                        }
                        &:nth-child(2) {
                            margin-bottom: 36px;
                        }
                    }
                }

                &__content {
                    .title {
                        font-weight: bold;
                        font-size: 32px;
                        margin-bottom: 16px;
                        color: $space-b;
                    }

                    .desc {
                        margin-bottom: 32px;
                        font-weight: 500;
                    }

                    .text {
                        margin-bottom: 16px;
                        font-weight: bold;
                        color: $grey;
                    }

                    .icons {
                        display: flex;
                        margin-bottom: 52px;

                        a {
                            &:not(:last-child) {
                                margin-right: 24px;
                            }
                            img {
                                height: 32px;
                            }
                        }
                    }

                    .atlassian-logos {
                        display: flex;

                        img {
                            height: 16px;

                            &:not(:last-child) {
                                margin-right: 16px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $tablet) {
            padding: 64px 0 64px;
            text-align: left;
            align-items: left;

            &__title {
                width:100%;
                text-align: left;
            }

            &__icons {
                grid-template-columns: repeat(1, auto);
                grid-template-rows: repeat(6, auto);

                .feature {
                    flex-direction: row;
                    text-align: left;
                    max-width: unset;
                    width: 100%;

                    &__image {
                        margin: 0 18px 0 0;
                    }
                }
            }

            &__integrations {
                flex-direction: column-reverse;
                margin-top: 64px;

                .integrations {
                    &__content {
                        .label {
                            text-align: center;
                            margin-top: 64px;
                        }

                        .icons {
                            justify-content: center;
                            margin-top: 24px;
                            margin-bottom: 64px;
                        }

                        .atlassian-logos {

                            width: 100%;
                            flex-wrap: wrap;
                            justify-content: center;
                            height: 65px;
                        }

                        .text {
                            text-align: center;
                            margin-bottom: 24px;
                        }
                    }

                    &__image {
                        height: auto;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile) {
            .integrations__image {
                display: none;
                &.mobile {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .solutions-box {
        display: flex;
        overflow: hidden;
        margin-top: 200px;
        padding: 24px 80px;
        align-items: center;
        justify-content: space-between;

        &__content {
            width: 45%;
            h3 {
                font-weight: bold;
                font-size: 32px;
                color: #fff;
                margin-bottom: 24px;
            }

            .button--ghost {
                background: #fff;
                color: $brand;
                padding: 20px 32px;
                font-size: 18px;
                margin: 0;
                margin-top: 32px;
                width: 159px;
                height: 60px;
                align-items: center;
                @media screen and (max-width: $mobile) {
                    width: 106px;
                    height: 45px;
                    padding: 0;
                    font-size: 14px;
                    width: 117px;
                    font-weight: 500
                }
            }
        }

        &__image {
            margin-right: -80px;
            height: 384px;
            width: auto;
            max-width: unset;
            &.mobile {
                display: none;
            }
        }

        @media screen and (max-width: $tablet) {
            flex-direction: column;
            padding: 36px 16px;

            &__content {
                width: 100%;
            }

            &__image {
                margin-right: 0;
                width: 100%;
                margin-top: 46px;
                display: none;
                &.mobile {
                    display: block;
                    height: auto;
                    width: auto;
                    max-width: 100%;
                }
            }
        }


    }

    .featherlight:last-of-type {
        background: rgba(3,12,26,.85);
    }
    .featherlight-content {
        background-color: $space-b;
        width: 544px;
        padding: 0;
        box-shadow:  0 2px 16px 0 rgba(0, 0, 0, 0.5);

        @media screen and (max-width: $tablet) {
            width: auto;
        }

        #solution-form {
            display: block;
            margin: 64px 96px;
            margin-bottom: 32px;

            @media screen and (max-width: $tablet) {
                margin: 64px 32px;
            }


        }

        h3 {
            font-weight: bold;
        }

        #solution-form__after-box {
            display: block;
            margin: 10px 30px;
            h3 {
                font-weight: bold;
                font-size: 32px;
                color: #fff;
                margin-bottom: 24px;
            }
        }


        .featherlight-close-icon {
            background: none;
            color: $grey;
            font-size: 1.2em;
            margin-right: 32px;
            margin-top: 32px;
        }
    }
    #solution-form__after-box {
        display: none;
    }

    #solution-form {
        display: none;

        #companySize, #inquiry {
            width: 100%;
            height: 44px;
            color: #fff;
            padding-left: 10px;
        }
    }

    .card.theme_box--light-strong.clients {
        margin-top: 36px;

        @media screen and (max-width: $tablet) {
            padding-left: 0;

            p {
                text-align: left;
            }
        }
    }

    .slider__logo-container {
        height: 46px;

        img {
            opacity: 0.7;
        }
    }

    .atlassian-summit {
        margin-bottom: -450px;
        margin-top: 160px;
        text-align: center;

        @media screen and (max-width: $tablet) {
            margin-bottom: -170px;
            text-align: left;
            margin-top: 64px;
        }

        h3 {
            margin: auto;
            margin-bottom: 16px;
        }

        a {
            margin:auto;
            margin-bottom: 36px;
        }

    }
}

body.solutions-page.jobs.dark {
    .feature__title {
        color: #fff !important;
    }
    .photo-grid {
        display: flex;
        flex-direction: column;
        background: #fff;
    }

    .feature {
        @media screen and (max-width: $tablet) {
            align-items: center;
        }
    }

    .img-row{
        display: flex;
        div {
            &:not(:last-child) {
                margin-right: 17px;
            }
        }
        margin-bottom: 17px;
    }

    .solutions-box {
        padding: 64px 96px;
        @media screen and (max-width: $mobile) {
            margin-top: -300px;
            padding: 24px;
        }
        &__content {
            display: flex;
            flex-direction: row;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: $tablet) {
                flex-direction: column;
                padding: 0;
            }
            h3 {
                margin: 0;
                width: 448px;
                height: 126px;
                font-size: 32px;
                font-weight: bold;
                line-height: 1.31;
                letter-spacing: 0.5px;
                color: #ffffff;
                @media screen and (max-width: $tablet) {
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
            a {
                margin: 0 !important;
                width: 215px;
                height: 60px;
                border-radius: 4px;
                background-color: #ffffff;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.11;
                color: $brand;
            }
        }
    }

    .featherlight-content {
        width: unset !important;
    }

    .youtube-image-link {
        width: 100%;
        height: 570px;
        margin: auto;
        background: url("/images/jobs/youtube-video.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .features__integrations {
        margin-top: 0 !important;
        padding: 0 !important;
    }


    .hero {
        justify-content: space-between;

        &__image {
            margin: 0;
            width: 398px;
            height: 300px;
        }
        @media screen and (max-width: $tablet) {
            align-items: center;

            &__text {
                text-align: center;
            }
            .display--small {
                margin: auto;
            }

        }
    }
    .hero__text .button-wrap {

        .button {
            width: 215px;
            height: 60px;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.11;
            letter-spacing: normal;
            color: #ffffff;

            &.video {
                margin-left: 16px;
                background-color: $space-b;
            }
        }
    }

}