.card {
  border-radius: 2px;
  padding: 1.7em;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__media {
  height: 9em;
  display: flex;

  img {
    margin: auto;
  }
}

.card--full-height {
  min-height: 100%;
}

.card_footer {
  padding: 1em 1.7em;
  margin-left: -1.7em;
  margin-right: -1.7em;
  margin-bottom: -1.7em !important;
  margin-top: 1em;
}

.card_icon {
  display: inline-block;
  width: 6em;
  margin-bottom: 1em;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.card_icon--mini {
  padding-left: $gutter;
  margin-top: .3em;
  @include align-self(flex-start);
  height: 1.5em;
}

.card--shadow {
  box-shadow: 0 15px 30px 0 rgba(3, 12, 26, 0.15);
}

// Blog

.card--blog__meta {
  font-weight: 700;
  margin-bottom: .3em;
}

.card--blog {
  min-height: 15em;
  width: 100%;
  position: relative;
  margin-bottom: 1em;

  transition: box-shadow .3s, background .3s;

  p {
    transition: all 0.3s ease;
  }

  @media screen and (max-width: $tablet) {
    margin-bottom: 32px;
  }

  &.card--horizontal {
    @media screen and (min-width: $tablet) {
      .card--blog__wrap {
        top: 0.5em;
        width: 19em;
      }
    }

    .card--blog__meta {
      margin-bottom: 8.5em;
    }
  }

  &:hover {
    box-shadow: 1em 1em 0 1px #121f33,
    -1em -1em 0 1px #121f33,
    -1em 1em 0 1px #121f33,
    1em -1em 0 1px #121f33;

    background: $space-grey;
  }
}

.card-blog-simple {
  min-height: auto;
  margin-bottom: 0;

  .card--blog__wrap {
    margin: .5em;
    position: static;
  }
}

.card--blog__separator {
  border-bottom: 1px solid $space-grey;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.card--blog__image {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  height: 100%;
  min-width: 6em;
  height: 313px;
  &.event {
    height: 355px;
  }
}

.card--blog__cover {
  width: 100%;
  min-height: 193px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-size 1s;
  border-radius: 2px;
}

.card--blog__wrap {
  border-radius: 2px;
  padding: 1em 0 0;
}

.card--blog__title {
  font-weight: 600;
}

.card--blog__title {
  margin-bottom: 0.7em;
  height: 3em;
  overflow: hidden;
}

.card--blog__data {
  @include flexbox();
  @include align-items(center);
}

.card--blog__category {
  margin: 0 1em 0 0;
  display: inline-block;
}

.card--blog__author {
  margin: 0;
  display: inline-block;
}
